.hidden {
    display: none;
}

@font-face {
    font-family:'ThrowupColor-LightBlue';
    src: url(../assets/ThrowupColor-LightBlue.otf);
  }

@font-face {
    font-family:'ThrowupColor-Yellow';
    src: url(../assets/ThrowupColor-Yellow.otf);
    }

@font-face {
    font-family: 'ThrowupColor-Pink';
    src: url(../assets/ThrowupColor-Pink.otf);
}

body {
    background-image: linear-gradient(#8595CF, #8595CF, #061134);
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }

#main-nav ul li {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
 }

#main-nav ul li a {
    display: inline-block;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
    font-family: 'ThrowupColor-LightBlue';
    font-size: 30px;
 }

#header-logo {
    padding: 0;
    cursor: pointer;
    margin-top: 30px;
}

h2 {
    text-align: center;
    font-family: 'ThrowupColor-LightBlue';
    font-size: 50px;
}

.vodka_text {
    font-family: 'ThrowupColor-LightBlue';
}

.tequila_text {
    font-family: 'ThrowupColor-Yellow'
}

.gin_text {
    font-family: 'ThrowupColor-Pink';
}