/* General Stylings */
.hidden {
    display: none;
}

@font-face {
    font-family:'ThrowupColor-LightBlue';
    src: url(../assets/ThrowupColor-LightBlue.otf);
  }

@font-face {
   font-family:'ThrowupColor-Pink';
   src: url(../assets/ThrowupColor-Pink.otf);
 }

@font-face {
   font-family:'ThrowupColor-Yellow';
   src: url(../assets/ThrowupColor-Yellow.otf);
 }


body {
    background-image: linear-gradient(#8595CF, #8595CF, #061134);
    background-repeat: no-repeat;
    color: white;
}

a {
   text-decoration: none;
}

p, h3 {
   font-family: 'Fredoka', Arial, sans-serif;
}

h1, h2, h4, h5, .party-button, a {
   font-family: 'ThrowupColor-LightBlue', Georgia, 'Times New Roman';
   line-height: 1;
}

.vodka_text {
   font-family: 'ThrowupColor-LightBlue';
}

.gin_text {
   font-family: 'ThrowupColor-Pink';
}

.tequila_text {
   font-family: 'ThrowupColor-Yellow';
}

/* Header Nav  */

#header-logo {
   margin: 10px 0;
}

button {
    width: 40px;
    height: 40px;
    background: url(../imgs/burger_menu.svg) no-repeat center;
    margin-top: 15px;
    margin-bottom: 20px;
    border: 0;
 }
 
 
 #burger-menu {
    margin-top: 20px;
    margin-bottom: 20px;
    display: none;
 }
 
 #burger-menu.slide-toggle {
    display: block;
 }
 
 ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }

#main-nav {
   background-color: white;
 }
 
#main-nav ul li {
   margin: 20px 0;
}

 #main-nav ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 32px;
 }
 
 #main-nav ul li:last-child {
    margin-bottom: 10px;
 }

 /* Homepage */

 #main-hero {
   background-image: url(../imgs/main_hero_mobile.png);
   background-size: contain;
   background-position: right;
   background-repeat: no-repeat;
 }

 #main-hero p {
   text-align: center;
 }

 .main-heading {
   text-align: center;
   font-size: 60px;
   margin: 25px 0;
 }

 .sub-heading {
   font-size: 32px;
   margin-bottom: 25px;
 }

 .party-button {
   text-align: center;
   background-color: red;
   height: 90px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 42px;
   cursor: pointer;
 }

 .section-heading {
   text-align: center;
   margin-top: 25px;
   margin-bottom: 15px;
 }

 .main-body-text {
   text-align: center;
   font-size: 18px;
 }

 .selections {
   display: flex;
 }

 .selection-image {
   height: 325px;
   margin: 0 auto;
   cursor: pointer;
 }

 h4 {
   text-align: center;
   font-size: 28px;
 }

 h5 {
   text-align: center;
 }

/* Footer Nav */

 .footer-nav {
   text-align: center;
   margin-top: 20px;
   margin-bottom: 15px;
 }

 .socials {
   height: 15px;
   margin: 0 auto;
 }

 #footer-logo {
   margin-top: 20px;
   margin-bottom: 10px;
 }

 .copyright {
   font-size: 12px;
   text-align: center;
   margin-bottom: 20px;
 }
 
 /* Product Page  */

 .product-hero {
   padding-right: 30px;
 }

 .product-card-text {
   text-align: center;
   font-size: 18px;
 }

 .show-details {
   cursor: pointer;
 }

 .info-box {
   text-align: center;
 }

 .info-box ul li {
   font-family: 'Fredoka', Helvetica, sans-serif;
   font-size: 16px;
 }

 .buy-button {
   text-align: center;
   background-color: red;
   height: 60px;
   width: 70%;
   margin: 10px auto;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 28px;
   cursor: pointer;
   border-radius: 30px;
 }

 .product-card {
   background-color: rgba(255, 255, 255, 0.208);
   border-radius: 60px;
   margin-bottom: 20px;
   padding: 10px;
   padding-bottom: 20px;
 }

.product-card-image {
   height: 235px;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   background-position-y: 50px;
}

#vodka_image {
   background-image: url(../imgs/vodka_bottle.png);
}

#gin_image {
   background-image: url(../imgs/gin_bottle.png);
 }

#tequila_image {
   background-image: url(../imgs/tequila_bottle.png);
 }

.product-card p {
   padding: 10px 0;
}

/* Contact Page */

input, textarea {
   border-radius: 16px;
   width: 100%;
   padding: 20px;
   margin-bottom: 5px;
   font-family: 'Fredoka', Helvetica, sans-serif;
}

input {
   height: 70px;
}

textarea {
   height: 400px;
}

.submit-button {
   text-align: center;
   background-color: red;
   height: 60px;
   width: 70%;
   margin: 10px auto;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 32px;
   cursor: pointer;
   border-radius: 30px;
 }